* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  white-space: .3px;
  letter-spacing: .4px;
}

.wrapper {
  width: 415px;
  margin: 40px auto;
}

.ant-table ul.ant-pagination {
  width: 100%;
  text-align: center;
}

.ant-table-title {
  text-align: center;
}

.names {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.names div {
  display: inline-block;
}

.names div:after {
  display: inline-block;
  content: ',';
  padding-right: 5px;
}

.names div:last-child:after {
  display: none;
}